<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opdater Attraktion</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>

<h1>Opdater Attraktion</h1>

<form th:action="@{/attractions/update}" th:object="${attraction}" method="post">

    <!-- Skjult felt til ID, som bruges til at identificere den specifikke attraktion, der skal opdateres -->
    <input type="hidden" th:field="*{id}" />

    <label for="name">Navn:</label>
    <input type="text" id="name" th:field="*{name}" readonly="readonly"/>

    <label for="description">Beskrivelse:</label>
    <input type="text" id="description" th:field="*{description}" />

    <label for="town">Town:</label>
    <select id="town" name="town" th:field="*{cityID}">
        <option th:each="town : ${towns}" th:value="${town.city_id}" th:text="${town.city_name}"></option>
    </select>

    <h3>Select Tags</h3>
    <ul>
        <li th:each="tag : ${tags}">
            <input type="checkbox" th:value="${tag.tag_id}" th:text="${tag.tag_name}" th:id="'tag' + ${tag.tag_id}" name="tagIds" />
        </li>
    </ul>

    <input type="submit" value="Opdater">
</form>

<br>

<a href="/attractions">Tilbage til listen</a>

</body>
</html>
